<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> hola mundo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Hola mundo</h1>
</ion-content>
